<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li>Blog Admin</li>
  <li class="active">Comments</li>
</ul>

<ul id="comments" class="comments u-full-width">
  <%= render @comments %>
</ul>
