@import 'scss/variables';

.button.button-red,
button.button-red,
input[type="submit"].button-red,
input[type="reset"].button-red,
input[type="button"].button-red {
  color: #FFF;
  background-color: $button-red;
  border-color: darken($button-red, 5%); }
.button.button-red:hover,
button.button-red:hover,
input[type="submit"].button-red:hover,
input[type="reset"].button-red:hover,
input[type="button"].button-red:hover,
.button.button-red:focus,
button.button-red:focus,
input[type="submit"].button-red:focus,
input[type="reset"].button-red:focus,
input[type="button"].button-red:focus {
  color: #FFF;
  background-color: darken($button-red, 5%);
  border-color: darken($button-red, 10%); }

.button.button-green,
button.button-green,
input[type="submit"].button-green,
input[type="reset"].button-green,
input[type="button"].button-green {
  color: #FFF;
  background-color: $button-green;
  border-color: darken($button-green, 5%); }
.button.button-green:hover,
button.button-green:hover,
input[type="submit"].button-green:hover,
input[type="reset"].button-green:hover,
input[type="button"].button-v:hover,
.button.button-green:focus,
button.button-green:focus,
input[type="submit"].button-green:focus,
input[type="reset"].button-green:focus,
input[type="button"].button-green:focus {
  color: #FFF;
  background-color: darken($button-green, 5%);
  border-color: darken($button-green, 10%); }